## ileri toplulaştırma işlemleri

* aggregate

In [6]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
    "gruplar":["a","b","c","a","b","c"],
    "değişken1":[10,23,33,22,11,99],
    "değişken2":[100,253,333,262,111,969]},columns=["gruplar","değişken1","değişken2"]
)
df

  gruplar  değişken1  değişken2
0       a         10        100
1       b         23        253
2       c         33        333
3       a         22        262
4       b         11        111
5       c         99        969

In [7]:
df.groupby("gruplar").mean()

         değişken1  değişken2
gruplar
a             16.0      181.0
b             17.0      182.0
c             66.0      651.0

In [12]:
df.groupby("gruplar").aggregate(["min", np.median ,max])

C:\Users\-ASUS-\AppData\Local\Temp\ipykernel_19732\3871600662.py:1: FutureWarning: The provided callable <function median at 0x000002EEF4106160> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.groupby("gruplar").aggregate(["min", np.median ,max])
C:\Users\-ASUS-\AppData\Local\Temp\ipykernel_19732\3871600662.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("gruplar").aggregate(["min", np.median ,max])

        değişken1            değişken2
              min median max       min median  max
gruplar
a              10   16.0  22       100  181.0  262
b              11   17.0  23       111  182.0  253
c              33   66.0  99       333  651.0  969

In [15]:
df.groupby("gruplar").aggregate({"değişken1":"min","değişken2":"max"})

         değişken1  değişken2
gruplar
a               10        262
b               11        253
c               33        969

In [16]:
#filter

In [17]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
    "gruplar":["a","b","c","a","b","c"],
    "değişken1":[10,23,33,22,11,99],
    "değişken2":[100,253,333,262,111,969]},columns=["gruplar","değişken1","değişken2"]
)
df

  gruplar  değişken1  değişken2
0       a         10        100
1       b         23        253
2       c         33        333
3       a         22        262
4       b         11        111
5       c         99        969

In [22]:
def filter_func(x):
    return x["değişken1"].std() >9

In [24]:
df.groupby("gruplar").std()

         değişken1   değişken2
gruplar
a         8.485281  114.551299
b         8.485281  100.409163
c        46.669048  449.719913

In [23]:
df.groupby("gruplar").filter(filter_func)

  gruplar  değişken1  değişken2
2       c         33        333
5       c         99        969

In [25]:
#transform

In [26]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
    "gruplar":["a","b","c","a","b","c"],
    "değişken1":[10,23,33,22,11,99],
    "değişken2":[100,253,333,262,111,969]},columns=["gruplar","değişken1","değişken2"]
)
df

  gruplar  değişken1  değişken2
0       a         10        100
1       b         23        253
2       c         33        333
3       a         22        262
4       b         11        111
5       c         99        969

In [27]:
df["değişken1"]*9

0     90
1    207
2    297
3    198
4     99
5    891
Name: değişken1, dtype: int64

In [30]:
df_a=df.iloc[:,1:3]

In [32]:
df_a.transform(lambda x: (x-x.mean()) / x.std())

   değişken1  değişken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

In [33]:
#apply

In [60]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
   
    "değişken1":[10,23,33,22,11,99],
    "değişken2":[100,253,333,262,111,969]},columns=["değişken1","değişken2"]
)
df

   değişken1  değişken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

In [61]:
df.apply(np.sum)

değişken1     198
değişken2    2028
dtype: int64

In [62]:
df.apply(np.mean)

değişken1     33.0
değişken2    338.0
dtype: float64

In [63]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
    "gruplar":["a","b","c","a","b","c"],
    "değişken1":[10,23,33,22,11,99],
    "değişken2":[100,253,333,262,111,969]},columns=["gruplar","değişken1","değişken2"]
)
df

  gruplar  değişken1  değişken2
0       a         10        100
1       b         23        253
2       c         33        333
3       a         22        262
4       b         11        111
5       c         99        969

In [64]:
df.groupby("gruplar").apply(np.sum)

C:\ProgramData\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
C:\ProgramData\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
C:\ProgramData\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

        gruplar  değişken1  değişken2
gruplar
a            aa         32        362
b            bb         34        364
c            cc        132       1302

In [65]:
df.groupby("gruplar").apply(np.mean)

gruplar
a     98.5
b     99.5
c    358.5
dtype: float64